head
  title Golden Gate
  meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  meta(http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE")
  link(rel='icon', type='image/png', sizes='192x192', href='#{STATIC_URL}images/favicon/android-icon-192x192.png')   
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css')
  link(rel='stylesheet', href='#{STATIC_URL}css/main.css')
body
  .page
    include includes/_header  

    block header
      header
        .container: .row
          .col-sm-8
            block header-title
              h1 SMS & MMS API
          .col-sm-4.text-right 
            block header-button
              a.btn.btn-primary.btn-ghost + Purchase a Number

    .container

      block content

      block footer
        footer
          .col-sm-4
            .copyright 
              span &copy; Copyright 2016
              b Vivial Inc.
          .col-sm-8
            ul.list-inline.text-right.footer-links
              li: a(href="#") Terms of Service 
              li: a(href="#") Privacy Policy
              li: a(href="#") Support
              li: a(href="#") Features
    
  include includes/_modals
  script(src='#{STATIC_URL}js/jquery.js')
  script(src='#{STATIC_URL}js/bootstrap.js')
  script.
    // Toggle all tooltips within app
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })